Flask
Flask-Admin
Flask-Babel
# Flask-Bootstrap4
Bootstrap-Flask
Flask-Caching
Flask-Compress
Flask-FlatPages
Flask-Gravatar
Flask-Login
Flask-Mail
Flask-Migrate
Flask-Moment
Flask-PyMongo
Flask-Restless
Flask-SQLAlchemy
Flask-Themes
Flask-Uploads
Flask-WTF
python-dotenv
Jinja2
Markdown
PyYAML
SQLAlchemy==2.0.36
WTForms
Werkzeug
argparse
blinker
pymongo==4.9.1
python-dateutil
PyJWT
pytest
