{% extends "base.html" %}

{% block title %}Index{% endblock title %}

{% block page_title %}Index{% endblock page_title %}
{% block app_content %}
	<div class="row">
		<div class="span4">
			<img src="http://placehold.it/360x200" class="img-polaroid" alt="">
		</div>
		<div class="span4">
			<img src="http://placehold.it/360x200" class="img-polaroid" alt="">
		</div>
		<div class="span4">
			<img src="http://placehold.it/360x200" class="img-polaroid" alt="">
		</div>
	</div>
{% endblock app_content %}
